data/bdd100k-10k/test*
data/bdd100k-10k/train*
data/bdd100k-10k/val*
# ignore training results
runs/*

# keep folder structure
!data/.gitkeep
!runs/.gitkeep

# ignore weights
*.pt
*.pth
*.ckpt

# python
__pycache__/
*.pyc

# logs
*.log
